<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Hello</h1><h2>Shorty.</h2>
<!--     <h4>(URL shortening)</h4>
 -->    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>A URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://github.com/MadeWithMike" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <div class='ending'><br><a target='_blank' href ='https://ko-fi.com/madewithmike'><b><div class='popup'>Buy me a coffee :O)</div></b></a> 
            </b>
            By <a href=https://github.com/MadeWithMike target='_blank'><b>MadeWithMike</b></a>.</div>
        </div>
    </div>
<!--       <p>By <a href="https://github.com/MadeWithMike">MadeWithMike</a></p>
 -->    </footer>
  </body>
</html>
